<div class="left-menu">
  <form action="#" class="search" ng-init="name = ''">
    <input placeholder="Search by name..." type="search" name="" id="" ng-model="name">
    <input type="submit" value="&#xf002;">
  </form>
  <menu class="list-friends">
    <li ng-repeat="user in $Chat.room() | filter:name">
      <img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
      <div class="info">
        <div class="user" ng-bind="user.name"></div>
        <div class="status on">
          online

          <a class="status inactive" href="javascript:void(0);" ng-click="$Chat.disconnect()">(Logout)</a>

        </div>
      </div>
    </li>
  </menu>
</div>
<div class="chat">
  <div class="top">
    <div class="avatar" style="float: right; padding-right: 12px">
      <img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
    </div>
    <div class="info" style="float: right; width: 250px; text-align: right; padding: 12px" style="float: right;">
      <div class="name" ng-bind="$Chat.user().name"></div>
      <div class="count">online for {{ $moment($Chat.user().timestamp).fromNow(true) }}</div>
    </div>
  </div>
  <ul class="messages">

    <li ng-class="{'i': true, 'friend-with-a-SVAGina': !isMine}" ng-repeat="message in $Chat.room().messages"
        ng-init="isMine = (message.user.id === $Chat.user().id)">

      <div class="head">
        <span class="time" ng-bind="$moment(message.timestamp).fromNow()"></span>
        <span class="name" ng-bind="message.user.name"></span>
      </div>

      <div class="message" ng-bind="message.body"></div>

    </li>
  </ul>
  <div class="write-form">
    <textarea placeholder="Type your message..." name="e" rows="2" ng-model="input.body"></textarea>
    <span class="send" ng-click="send(input)">Send</span>
  </div>
</div>