<div class="left-menu">
  <form action="#" class="search">
    <input placeholder="Search by name..." type="search" name="" id="">
    <input type="submit" value="&#xf002;">
  </form>
  <menu class="list-friends">
    <li>
      <img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
      <div class="info">
        <div class="user">John Doe</div>
        <div class="status on"> online</div>
      </div>
    </li>
    <li>
      <img width="50" height="50" src="http://lorempixel.com/50/50/people/1">
      <div class="info">
        <div class="user">Name Fam</div>
        <div class="status on"> online</div>
      </div>
    </li>
    <li>
      <img width="50" height="50" src="http://lorempixel.com/50/50/people/2">
      <div class="info">
        <div class="user">Name Fam</div>
        <div class="status off">left 3 min age</div>
      </div>
    </li>
    <li>
      <img width="50" height="50" src="http://lorempixel.com/50/50/people/3">
      <div class="info">
        <div class="user">Name Fam</div>
        <div class="status on"> online</div>
      </div>
    </li>
    <li>
      <img width="50" height="50" src="http://lorempixel.com/50/50/people/4">
      <div class="info">
        <div class="user">Name Fam</div>
        <div class="status off">left 4 min age</div>
      </div>
    </li>
    <li>
      <img width="50" height="50" src="http://lorempixel.com/50/50/people/5">
      <div class="info">
        <div class="user">Name Fam</div>
        <div class="status off">left 12 min age</div>
      </div>
    </li>
    <li>
      <img width="50" height="50" src="http://lorempixel.com/50/50/people/6">
      <div class="info">
        <div class="user">Name Fam</div>
        <div class="status off">left 13 min age</div>
      </div>
    </li>
    <li>
      <img width="50" height="50" src="http://lorempixel.com/50/50/people/7">
      <div class="info">
        <div class="user">Name Fam</div>
        <div class="status on">online</div>
      </div>
    </li>
    <li>
      <img width="50" height="50" src="http://lorempixel.com/50/50/people/8">
      <div class="info">
        <div class="user">Name Fam</div>
        <div class="status off">left 6 min age</div>
      </div>
    </li>
    <li>
      <img width="50" height="50" src="http://lorempixel.com/50/50/people/9">
      <div class="info">
        <div class="user">Name Fam</div>
        <div class="status on">online</div>
      </div>
    </li>
    <li>
      <img width="50" height="50" src="http://lorempixel.com/50/50/people/10">
      <div class="info">
        <div class="user">Name Fam</div>
        <div class="status off">left 1 min age</div>
      </div>
    </li>
    <li>
      <img width="50" height="50" src="http://lorempixel.com/50/50/people/0">
      <div class="info">
        <div class="user">Name Fam</div>
        <div class="status on">online</div>
      </div>
    </li>
    <li>
      <img width="50" height="50" src="http://lorempixel.com/50/50/people/99">
      <div class="info">
        <div class="user">Name Fam</div>
        <div class="status off">left 23 min age</div>
      </div>
    </li>
  </menu>
</div>
<div class="chat">
  <div class="top">
    <div class="avatar">
      <img width="50" height="50" src="http://cs625730.vk.me/v625730358/1126a/qEjM1AnybRA.jpg">
    </div>
    <div class="info">
      <div class="name">John Doe</div>
      <div class="count">already 1 902 messages</div>
    </div>
    <i class="fa fa-star"></i>
  </div>
  <ul class="messages">
    <li class="i">
      <div class="head">
        <span class="time">10:13 AM, Today</span>
        <span class="name">Буль</span>
      </div>
      <div class="message">Привет!</div>
    </li>
    <li class="i">
      <div class="head">
        <span class="time">10:13 AM, Today</span>
        <span class="name">Буль</span>
      </div>
      <div class="message">)</div>
    </li>
    <li class="i">
      <div class="head">
        <span class="time">10:14 AM, Today</span>
        <span class="name">Буль</span>
      </div>
      <div class="message">М не счастья..</div>
    </li>
    <li class="friend-with-a-SVAGina">
      <div class="head">
        <span class="name">Юния</span>
        <span class="time">10:15 AM, Today</span>
      </div>
      <div class="message">чего тебе?</div>
    </li>
  </ul>
  <div class="write-form">
    <textarea placeholder="Type your message" name="e" id="texxt" rows="2"></textarea>
    <span class="send">Send</span>
  </div>
</div>